* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ededed;
    background: #081b29;
}

/* Header css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 2s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}

.menu {
    display: none;
}

.menu-cancel {
    display: none;
}
.navbar a:hover {
    color: #0ef;
}

/* Body css */
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./img/background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 60px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 5px 0;
    animation: slideTop 2s ease forwards;
    animation-delay: 2s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: 1s;
}

.home-content h3 span {
    color: #0ef;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}

.home-content p {
    font-size: 24px;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    animation: slideLeft 2s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
}

.btn-box {
    display: inline-block;
    padding: 10px 20px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 2s ease forwards;
    animation-delay: 2s;
}

.btn-box:hover {
    box-shadow: 0 0 10px cyan;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    paddingg-bottom: 20%;
    max-width: 600px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 48px;

}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.6;
    margin: 15px 0 15px
}

.about-text p {
    color: aliceblue;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.services h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    animation: movedown 3s linear forwards;
}

.sub-title {
    text-align: center;
    font-size: 48px;
    padding-bottom: 60px;
}

.container {
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.uni-edu {
    cursor: pointer;
}

.services-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 14px;
    font-weight: 14px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s transform 0.5s;
    box-shadow: 0 0 10px #012290f7;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}

.read:hover {
    box-shadow: 0 0 10px #0ef;
}

.section-skills {
    display: flex;
    flex-wrap: wrap;
}

.container-skills {   
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading-tech {
    text-align: center;
    margin-bottom: 40px;
}

.technical-bars .bar {
    font-size: 24px;
    margin-top: 40px 0;
}

.technical-bars .bar:first-child {
    margin-top: 0;
}

.technical-bars .bar:last-child {
    margin-bottom: 0;
}

.technical-bars .bar .info {
    margin-bottom: 5px;
}

.technical-bars .bar .info span {
    font-size: 16px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.main-text {
    padding-top: 60px;
    margin-top: 60px;
}

.main-text h2 {
    font-size: 48px;
    line-height: 1;
    text-align: center;
    margin-bottom: 60px;
}

.main-text h2 span {
    color:#0ef;
}

.project-content {
    padding: 90px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.row img {
    width: 100%;
    height: 252px;
    border-radius: 5px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgb(34, 141, 149));
    position: absolute;
    border-radius: 5px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
}

.layer i {
    color: #000;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
    padding-left: 30px;
    margin-top: 80px;
}

.contact-text h2 {
    font-size: 48px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list i a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
}

.contact-icons i:hover {
    background: #0ef;
    color: #000 !important;
}

.contact-form form {
    position: relative;
}

.contact-form form input,textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    background: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 2s ease forwards;
}

.contact-form form .send:hover {
    cursor: pointer;
    box-shadow: 0 0 10px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(7, 85, 91);
    font-weight: 300;
    margin-top: 60px;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}


/* timeline  */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    margin-bottom: 0;
    margin-top: 0;
    animation: movedown 6s linear forwards;
    opacity: 0;
}

.container-timeline {
    padding: 10px 40px;
    position: relative;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px cyan;
    animation: movedown 4s linear forwards;
    opacity: 0;
    animation-delay: calc(.2s * var(--i));
}


.text-box {
    padding: 15px 20px;
    position: relative;
    border-radius: 5px;
}

.left-container {
    margin-left: -25px;
    left: 0;
}

.right-container {
    margin-left: 25px;
    left: 50%;
}

.container-timeline img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: 5px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: 5px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #0ef;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 1s linear forwards;
}

.text-box h2 {
    font-weight: 600;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 25px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #0ef;
    right: -55px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 25px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #0ef;
    left: -55px;
}


/* Responsive  */

@media screen and (max-width: 768px) {
    .container-edu {
        padding-left: 50px;
        padding-right: 50px;
    }
    .timeline {
        margin: 50px auto;
    }

    .timeline::after {
        right: -31px;
    }
    /* .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    } */

    .text-box {
        font-size: 13px;
    }

    .text-box small {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    .container-edu {
        margin: 50px auto;
    }

    .timeline::after {
        left: 31px;
    }

    .timeline {
        width: 100%;
        padding-left: 40px;
        padding-right: 25px;
    }

    .container-timeline {
        width: 100%;
        margin-bottom: 20px;
    }

    .right-container {
        left: 0;
        margin-left: 10px;
    }

    .left-container {
        margin-left: 10px;

    }

    .text-box {
        font-size: 13px;
    }

    .left-container img, .right-container img {
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #0ef;
        border-left: 0;
    }

    .left-container-arrow {
        left: -55px;
    }
}

@media (max-width: 768px) {
    .home {
        margin: 0 auto;
        background: url(./img/Purple\ Illustrated\ Mountain\ Desktop\ Wallpaper_blank.png);
    }
    .home-content {
        max-width: 450px;
        margin: 0 auto;
        /* margin-bottom: 10px; */
    }

    .home-content h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin: 10px 0;
    }

    .home-content h3 {
        text-align: center;
        font-size: 20px;
    }

    .home-content p {
        text-align: center;
        font-size: 18px;
    }

    .home-sci {
        text-align: center;
    }

    .home-content .btn-box {
        display: block;;
        text-align: center;
        margin: 0 auto;
        width: 200px;
    }

    .about-text {
        padding-right: 5px;
    }

    .about-text h2 {
        font-size: 24px;
        text-align: center;
    }

    .about-text h4 {
        font-size: 20px;
        text-align: center;
    }

    .about-text p {
        padding-right: 20px;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 10;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        /* text-align: center; */
    }

    .about-text .btn-box {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 200px;
        padding-right: 20px;
    }

    .services-list div {
        text-align: center;
    }

    
}

@media (max-width: 426px) {
    .about-text h2 {
        font-size: 20px;
    }

    .about-text h4 {
        font-size: 18px;
    }

    .about-text p {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    
    .sub-title {
        font-size: 36px;
    }

    .services-list div h2 {
        font-size: 24px;
    }

    .services-list div {
        margin-right: 20px;
        margin-left: -25px;
    }
    .project-content {
        padding: 0;
    }

    .main-text h2 {
        font-size: 36px;
    }

    .contact-text h2 {
        font-size: 36px;
    }

    .contact-text h4 {
        font-size: 20px;
    }

    .contact-text p {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .contact-form {
        padding-right: 20px;
    }

    .contact-form textarea {
        height: 10 em;
    }
}

@media (max-width: 768px) {
    .menu {
        display: block;
        position: inherit;
        right: 40px;
    }

    .menu-x {
        position: inherit;
        right: 40px;
    }

    .navbar{
        padding-top: 20px;
        font-size: 1.2em;
        /* display: flex; */
        gap: 2em;
        position: absolute;
        flex-direction: column;
        align-items: center;
        background-color: #081b29;
        color: #fff;
        left: 0;
        top: 70px;
        width: 100%;
        height: 100vh;
        display: none;
    }

    .navbar a:hover {
        cursor: pointer;
    }
}

/* Animations */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}